@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
html {
    font-family: 'Nunito Sans', sans-serif;
}

.section1 {
    background-size: cover;
    text-align: center;
    height: 42vh;
    padding-left: 7%;
    padding-right: 7%;
    display: flex;
}

.section1 h1 {
    text-align: center;
    margin: 0;
    padding: 0;
}

.section2 {
    padding-left: 7%;
    padding-right: 7%;
}

.section2 img {
    height: 100%;
    width: 100%;
}

.section2 h2 {
    font-size: 4vh;
}

.section2 p {
    font-size: x-large;
}

.section3 {
    background-color: #25eda5;
    text-align: center;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 12px;
}

.section3 h2 {
    font-size: 4vh;
}

.section3 img {
    height: 80%;
    width: 80%;
}

.section3 p {
    font-size: xx-small;
}

.section4 {
    padding-left: 7%;
    padding-right: 10%;
}

.section4 h2 {
    font-size: 4vh;
}

.section4 p {
    font-size: 2.4vh;
}

.section4 img {
    height: 100%;
    width: 100%;
    display: flex;
}

.section5 img {
    height: 100%;
    width: 100%;
    padding: 0%;
    margin-bottom: -6px;
}

.section6 {
    background-color: #46a6fc;
    text-align: center;
    padding-left: 7%;
    padding-right: 7%;
}


/* Redimensión de fuente utilizando rem */

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
}

h4 {
    font-size: 1.3rem;
}

h5 {
    font-size: 1.15rem;
}

h6 {
    font-size: 1.05rem;
}


/* clases predefinidas */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Diseño de columnas */

.column-1 {
    width: 100%;
    float: left;
}

.column-2 {
    width: 50%;
    float: left;
}

.column-3 {
    width: 33.33%;
    float: left;
}

.column-4 {
    width: 25%;
    float: left;
}

.column-5 {
    width: 20%;
    float: left;
}

.column-6 {
    width: 16.66%;
    float: left;
}

.column-75 {
    width: 75%;
    float: left;
}


/* Otras clases */

.centrado {
    text-align: center;
}

img {
    height: 100px;
    object-fit: cover;
}

.padding-m {
    padding: 3%;
}

#footer {
    font-size: 15px;
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: -16px;
    background-color: black;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
}

#header {
    color: black;
    align-items: center;
}


/* clase para centrar contenido en horizontal y vertical (lo centra respecto al elemento padre) */

@media only screen and (max-width: 600px) {
    /* column-2 pasará de tener 50% a 100% */
    .column-2 {
        width: 100%;
    }
    /* column-3 pasará de tener 33.33% a 100% */
    .column-3 {
        width: 50%;
    }
    /* column-4 pasará de tener 25% a 50% */
    .column-4 {
        width: 50%;
    }
    .section1 {
        background-size: cover;
        height: 70vh;
    }
    .section6 h2 {
        font-size: 3vh;
    }
    .section3 p {
        font-size: 2vh;
    }
    .section4 p {
        font-size: 3vh;
    }
    .section6 h2 {
        font-size: 4vh;
    }
    #footer {
        padding: 4vh;
    }
}